name: .NET Core

on:
  push:
    tags:
      - "v20*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    
    - name: Build for Linux
      run: dotnet publish UI.ER.AvaloniaUI/UI.ER.AvaloniaUI.csproj -r linux-x64 --configuration ReleaseComplete /p:PublishSingleFile=true --self-contained true
    
    - name: Build for Windows
      run: dotnet publish UI.ER.AvaloniaUI/UI.ER.AvaloniaUI.csproj -r win-x64 --configuration ReleaseComplete /p:PublishSingleFile=true --self-contained true
    
    - name: Create ZIP for Linux
      run: |
        cd UI.ER.AvaloniaUI/bin/ReleaseComplete/net10.0/linux-x64/publish
        zip -r ../../../../../../EAPRecull-Linux-x64.zip .
    
    - name: Create ZIP for Windows
      run: |
        cd UI.ER.AvaloniaUI/bin/ReleaseComplete/net10.0/win-x64/publish
        zip -r ../../../../../../EAPRecull-Windows-x64.zip .
    
    - name: Upload artifact - Linux
      uses: actions/upload-artifact@v4
      with:
        name: EAPRecull-Linux-x64
        path: UI.ER.AvaloniaUI/bin/ReleaseComplete/net10.0/linux-x64/publish
    
    - name: Upload artifact - Windows
      uses: actions/upload-artifact@v4
      with:
        name: EAPRecull-Windows-x64
        path: UI.ER.AvaloniaUI/bin/ReleaseComplete/net10.0/win-x64/publish
    
    - name: Create GitHub Release with Assets
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: |
          EAPRecull-Windows-x64.zip
          EAPRecull-Linux-x64.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    